<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="common/fragments :: common-header"></head>

<body>

<div th:replace="common/fragments :: common-navigation"></div>

<div class="container">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <div th:if="${passwordReset == 'true'}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <span>x</span>
                </button>
                <p th:text="#{resetPassword.success.message}"></p>
            </div>
            <div th:if="${passwordReset == 'false'}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <span>x</span>
                </button>
                <p th:text="${message}"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="text-center" th:text="#{forgotpassword.fill.in.form.below}"></h1>
            <p class="lead text-center" th:text="#{resetPassword.p.lead}"></p>

            <div class="well">
                <!-- login form -->
                <form id="savePasswordForm" th:action="@{/changeuserpassword}" method="POST">
                    <input type="hidden" name="principal_id" id="principal_id" th:value="${principalId}"/>
                    <div class="form-group">
                        <label for="password" th:text="#{login.password.text}"></label>
                        <input type="password" id="password" class="form-control" name="password"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" th:text="#{signup.form.confirm.password}"></label>
                        <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{forgotpassword.reset.button.text}">Save
                            New Password
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:replace="common/fragments :: common-javascripts"></div>

</body>
</html>
