body {
    padding-top: 100px;
    background-color: #d9edf7;
}

.jumbotron {
    background-color: #245269 !important;
    color: white;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.about-project-img {
    margin: 0 auto;
    width: 50%;
}

.fieldError {
    border: 2px solid red;
}